<div class="container-fluid bg-dark mt-5 img-footer">
  <div class="row text-light pl-5 pr-5">
    <div class="col-lg-4 col-sm-12">
      <!-- texto explicativo -->
      <h3 class="mt-5 font-weight-bold">Nosotros</h3>
      <p class="lead mr-5">Colombia ha recibido varios premios como destino de turismo vacacional, turismo de
        reuniones y por su plataforma de promoción turística. Conoce algunos.</p>
      <div>
        <h6 class="mt-5 font-weight-bold d-flex align-items-center">
          <i class="fas fa-question-circle pr-2 iconoFooter2"></i>PREGUNTAS</h6>
        <p class="pl-5">+57 321 255 452</p>
        <p class="pl-5">+57 312 255 254</p>
      </div>
      <div>
        <h6 class="font-weight-bold d-flex align-items-center"><i
            class="fas fa-map-marked-alt pr-2 iconoFooter2"></i>¿PREFIERES VISITARNOS?</h6>
        <p class="pl-5">Cra. 11 No. 77 –20 interior 1 Bogotá – Colombia</p>
        <p class="pl-5">Calle 99 # 10-19 Of 701 Bogotá – Colombia</p>
      </div>
    </div>
    <!-- Dónde ir Colombia -->
    <div class="col-lg-4 col-sm-6">
      <div class="row">
        <div class="col-lg-4 mt-5">
          <h6 class="font-weight-bold">Nacionales</h6>
          <ul class="list-unstyled text-size">
            <li><a class="text-muted" href="#">Amazonía Colombiana</a></li>
            <li><a class="text-muted" href="#">Andes Colombianos</a></li>
            <li><a class="text-muted" href="#">Llano Colombiano</a></li>
            <li><a class="text-muted" href="#">Caribe Colombiano</a></li>
            <li><a class="text-muted" href="#">Centro Colombiano</a></li>
          </ul>
        </div>
        <!-- Internacionales -->
        <div class="col-4 mt-5">
          <h6 class="font-weight-bold">Internacionales</h6>
          <ul class="list-unstyled text-size">
            <li><a class="text-muted" href="#">Acapulco</a></li>
            <li><a class="text-muted" href="#">Aguascalientes</a></li>
            <li><a class="text-muted" href="#">Ciudad de Buenos Aires</a></li>
            <li><a class="text-muted" href="#">Punta Cana</a></li>
            <li><a class="text-muted" href="#">Los Ángeles</a></li>
          </ul>
        </div>
        <!-- Hoteles-->
        <div class="col-4 mt-5">
          <h6 class="font-weight-bold">Hoteles</h6>
          <ul class="list-unstyled text-size">
            <li><a class="text-muted" href="#">Hoteles en Los Cabos</a></li>
            <li><a class="text-muted" href="#">Hoteles en Oaxaca</a></li>
            <li><a class="text-muted" href="#">Hoteles en Aguascalientes</a></li>
            <li><a class="text-muted" href="#">Hoteles en Miami</a></li>
            <li><a class="text-muted" href="#">Hoteles en San Antonio</a></li>
          </ul>
        </div>
      </div>
      <!-- Qué hacer -->
      <div class="row ">
        <div class="col-4 mt-5">
          <h6 class="font-weight-bold">¿Qué hacer?</h6>
          <ul class="list-unstyled text-size">
            <li><a class="text-muted" href="#">Naturaleza y Aventura</a></li>
            <li><a class="text-muted" href="#">Cultura</a></li>
            <li><a class="text-muted" href="#">Bienestar</a></li>
            <li><a class="text-muted" href="#">Sol y Playa</a></li>
            <li><a class="text-muted" href="#">LGBT</a></li>
          </ul>
        </div>
        <!-- Qué hacer -->
        <div class="col-4 mt-5">
          <h6 class="font-weight-bold">Tips de viaje</h6>
          <ul class="list-unstyled text-size">
            <li><a class="text-muted" href="#">Asistencia</a></li>
            <li><a class="text-muted" href="#">Qué llevar</a></li>
            <li><a class="text-muted" href="#">Preguntas</a></li>
            <li><a class="text-muted" href="#">Aliméntate seguro</a></li>
            <li><a class="text-muted" href="#">Cuida tu piel</a></li>
          </ul>
        </div>
        <!-- Qué hacer -->
        <div class="col-4 mt-5">
          <h6 class="font-weight-bold">Mapa del sitio</h6>
          <ul class="list-unstyled text-size">
            <li><a class="text-muted" href="#">Home</a></li>
            <li><a class="text-muted" href="#">Registrarse</a></li>
            <li><a class="text-muted" href="#">Experiencias</a></li>
            <li><a class="text-muted" href="#">Actividades</a></li>
            <li><a class="text-muted" href="#">Política de privacidad</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Google.maps -->
    <div class="col-lg-4 col-sm-12 pt-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d254508.51141489705!2d-74.24788268359374!3d4.6482975500000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1599264275398!5m2!1ses-419!2sco"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
      </iframe>
    </div>
  </div>

  <!-- linea -->
  <div class="row bg-dark mt-2">
    <div class="col-lg-12 col-sm-12">
      <hr class="border border-secondary line-footer">
    </div>
  </div>
  <!-- redes sociales -->

  <div class="row col bg-dark d-flex align-items-center justify-content-center mt-5 mb-5">
    <a href="#" class="boton p-a"><i class="fab fa-facebook-f iconoFooter"></i></a>
    <a href="#" class="boton p-a"><i class="fab fa-youtube iconoFooter"></i></a>
    <a href="#" class="boton p-a"><i class="fab fa-twitter iconoFooter"></i></a>
    <a href="#" class="boton"><i class="fab fa-instagram iconoFooter"></i></a>
    
    
  </div>
  <div class="row bg-dark d-flex justify-content-center text-light">
    <div class="col-11 mb-2">
      <p class="text-legales">Falcon Travel, se reserva el derecho, a su sola discreción, de modificar o sustituir las
        Condiciones de Uso en cualquier momento. Si las modificaciones constituyen un cambio sustancial de los términos
        de uso, se lo notificaremos publicando un anuncio en el sitio. En Strategic Points SAS estamos comprometidos a:
        A prevenir la comercialización sobre el tráfico de piezas y/o bienes pertenecientes al patrimonio cultural de la
        nación según la ley 397 de 1997, Decreto 833 del 2001 y ley 1185 del 2008. A Prevenir la comercialización de
        especies de flora y fauna amenazadas o en peligro de extinción en Colombia e ilícito aprovechamiento de recursos
        naturales renovables, según la ley 17 de 1981, la resolución Ministerial No 1367 del 2000 y ley 1453 del 2011
        artículo 29. explotación sexual y pornografía con menores de edad y/o adolescentes, según artículo 44 de la
        constitución Colombiana, ley 679 de 2001 y/o ley 1336 de 2009 A prevenir la explotación laboral infantil según
        la ley de infancia y adolescencia 1098 del 2006. A garantizar la protección de los derechos de una persona o
        grupo de personas, comunidad o pueblo, que son vulnerados en actos de racismo o discriminación ley 1482 del 2011
        y la ley 1752 del 2015 castigos penales para aquellos que realicen actos de discriminación en contra de personas
        con discapacidad. RNT 37850. Mayores informes en su agencia de viajes o en nuestro Call Center: Bogotá: 602 2505
        | Medellín: 381 4546 | Resto del país: 01 8000 523 457</p>
    </div>
  </div>

  <div class="row col-12 w-100 d-flex align-items-center justify-content-center">
    <img src="/assets/image/footer-2.png" alt="">
  </div>


  <div class="row bg-copy">
    <div class="col-12">
      <div class="container-fluid d-flex align-items-center justify-content-center mt-2 mb-2 text-size">
        ©2020 Copyright: Falcon Travel - Todos los derechos reservados.
      </div>
    </div>
  </div>
</div>
