<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-8">

      <div class="row">
        <div class="col-6 ml-5">

          <div class="row">
            <div class="col-12">
              <h1 class="mt-5">Sticky footer</h1>
              <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this
                custom HTML and CSS.</p>
              <div>
                <h2 class="mt-5"><i class="fas fa-question-circle pr-2 iconoFooter"></i>Preguntas</h2> <p class="pl-5">+57 321 255 452</p> 
              </div>
              <div>
                <h2 class="mt-5"><i class="fas fa-map-marked-alt pr-2 iconoFooter"></i>Preguntas</h2> <p class="pl-5">+57 321 255 452</p> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 col-md mt-5">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-3 col-md mt-5">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d254508.51141489705!2d-74.24788268359374!3d4.6482975500000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1599264275398!5m2!1ses-419!2sco"
          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0">
        </iframe>
      </div>
    </div>
  </div>
</div>
