<body>
    <section class="section1">
        <img class="img1" src="assets/pics/bg.jpg" id="bg">
        <img class="img1" src="assets/pics/moon.png" id="moon">
        <img class="img1" src="assets/pics/mountain.png" id="mountain">
        <img class="img1" src="assets/pics/road.png" id="road">
        <h2 id="text">Galería</h2>
    </section>
    <div class="banner">
        <div class="content">
            <h3>Fue nuestra <span>mejor</span> aventura</h3>
            <p>Gracias a Falcon Travel, pudimos vivir las mejores vacaciones de nuestras vidas.</p>
            <div class="graficos">
                <section class="section2">
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/boys.jpeg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>La pasamos muy bien</h1>
                                    <p>Pudimos tener un monton de momentos super buenos e inolvidables.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/girls.jpeg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>Enamoradisimas</h1>
                                    <p>Siempre viajamos con Falcon Travel y cada vez es mejor y quedamos mas enamoradas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/boys2.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>Todo super bueno</h1>
                                    <p>Viajamos sin problemas, desde la compra hasta la vuelta a casa, todo estuvo muy bien.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/boys3.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>Repetiria 1000 veces</h1>
                                    <p>Una experiencia inolvidable, estuvieron muy pendientes de que todo fuera bien con el viaje.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/pridetwo.jpeg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>Este orgullo del corazon</h1>
                                    <p>Nunca habia vivido un pride fuera de Colombia, tal como lo imaginaba yb mas de la mano de Falcon.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/boys4.jpg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>Repetiria 1000 veces</h1>
                                    <p>Una experiencia inolvidable, estuvieron muy pendientes de que todo fuera bien con el viaje.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/fight.jpeg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>Siempre he luchado por los derechos LGBTQ</h1>
                                    <p>Y me encanta que falcon Travel haga lo mismo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/party.jpeg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>Let's party toguether!</h1>
                                    <p>Amigos, pride, un buen viaje...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="imgBx">
                                <img class="img2" src="assets/pics/uppercar.jpeg" alt="">
                            </div>
                            <div class="contentBx">
                                <div>
                                    <h1>De los momentos mas sencillos</h1>
                                    <p>Pero uno de los mas felices de mi vida entera.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

 
    