<body>
    <section>
        <img src="assets/pics/bg.jpg" id="bg">
        <img src="assets/pics/moon.png" id="moon">
        <img src="assets/pics/mountain.png" id="mountain">
        <img src="assets/pics/road.png" id="road">
        <h2 id="text">Galeria</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus tempore, impedit a ea corporis ullam numquam quibusdam qui accusantium aliquam possimus laboriosam fugit ad veritatis consectetur earum reprehenderit harum ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatibus eaque nostrum unde itaque accusantium dolor fugit laboriosam sapiente, suscipit similique ducimus adipisci, porro iure, dignissimos maxime error. Natus, quo!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui eum architecto amet voluptatem. Quisquam illo culpa voluptas optio distinctio totam rerum cumque beatae harum ea? Numquam ut dicta id magni.</p>
    </section>
    
</body>
    
    


    
    
    

    