<body>
  
</body>
<h2 class="text-center mt-10">Destinos</h2>
<p class="text-center">Conoce más este bello pais, a continuación entraras información por regiones para interactuar con todas las culturas del pais. </p>
  <div class="row col-lg-12 d-flex justify-content-around">
    <div class="card-group col-lg-10 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-start ">
          <h5 class="card-title">Región Andina</h5>
        </div>
        <div class="contenedor">
        <img src="assets/regions/andina.png" class="card-img-top imagen_hover" alt="...">
        <div class="txt">
          <p>Ubicado en el centro del pais, En ella encontraras grandes montañas, paisajes y una hermosa cultura rica en musica, gastronomia y deportes.</p>
      </div>
      </div>
        
      </div>
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-start">
          <h5 class="card-title">Región Amazónica</h5>
        </div>
        <div class="contenedor">
          <img src="assets/regions/amazonas.png" class="card-img-top imagen_hover" alt="...">
          <div class="txt">
            <p>Conoce la selva amazonica, la isla de los monos, conoce el rio que une tres paises, llenate de la tradicion cultural indigena </p>
        </div>
        </div>
        
      </div>
      
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-start">
          <h5 class="card-title">Región Caribe</h5>  
        </div>
        <div class="contenedor">
          <div class="contenedor">
            <img src="assets/regions/caribe.png" class="card-img-top imagen_hover" alt="...">
            <div class="txt">
              <p>Recorre las mejores playas del pais, sumergete en sus aguas y conoce toda la cultura caribeña del pais. </p>
          </div>
          </div>
      </div>
    </div>
    
  </div>


  </div>
  <div class="row col-lg-12 d-flex justify-content-around">
    <div class="card-group col-lg-10 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-start ">
          <h5 class="card-title">Región Pacifica</h5>
        </div>
        <div class="contenedor">
        <img src="assets/regions/ballena.png" class="card-img-top imagen_hover" alt="...">
        <div class="txt">
          <p> Conoce todo el pacifico, aprovecha para nadar entre ballenas, toda su historia y el sabor de su gente  </p>
      </div>
      </div>
        
      </div>
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-start">
          <h5 class="card-title">Región Insular</h5>
        </div>
        <div class="contenedor">
          <img src="assets/regions/isla.png" class="card-img-top imagen_hover" alt="...">
          <div class="txt">
            <p>Una región rodeada por aguas azules, ricos corales, una cultura caribeña amable con el visitante </p>
        </div>
        </div>
        
      </div>
      
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-start">
          <h5 class="card-title">Región Orinoquia</h5>  
        </div>
        <div class="contenedor">
          <div class="contenedor">
            <img src="assets/regions/LLANOS-1.png" class="card-img-top imagen_hover" alt="...">
            <div class="txt">
              <p>Conoce los llanos orientales, recorre las grandes planicies llaneras a lomo de caballo, disfruta su gastronomia y sus bailes tipicos </p>
          </div>
          </div>
      </div>
    </div>
    
  </div>


  </div>
<!--  -->
