<body>
  <div class="container">
    <div class="box">
      <img src="../../../assets/pics/Logo-FalconTravel-color-icono png.png" alt="">
      <h2 class="font-weight-bold">Ingresa a tu cuenta</h2>
      <form [formGroup]="login" (ngSubmit)="signIn()"  enctype="multipart/form-data">
        <div class="form">
          <div class="form-group col-md-6 font-weight-bold">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="correo@correo.com">
            </div>
          <div class="form-group col-md-6 font-weight-bold">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="password">
            </div>
          </div>
          <button type="submit" class="btn btn-primary font-weight-bold">Login</button>
      </form>
      
    </div>
  </div>
</body>
  

