.card-title{
    text-align: center;
    /* color: white; */
    font-size: x-large;    
}
.card-body{
    background-color: #ef2e5c;
    height: 10px;
    
}
.card{
    padding: 6px;
    border: 0px;
}
h2{
    margin-top: 20px;
}
