<h2 class="text-center ">Experiencias</h2>
<div class="row col-lg-12 d-flex justify-content-center">
  
<p class="text-center col-lg-9">Vive con nosotros las mejores experiencias en tus viajes conciertos, naturaleza, playas, paisajes, deportes extremos,
  no importa la experiencia con FalconTravel todo es posible. </p>
</div>

<div class="row col-lg-12 d-flex justify-content-around">
  <div class="card-group col-lg-10 col-sm-12 col-xs-12 ">
    <div class="card">
      <img src="assets/experiencesimg/party.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Conciertos</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-group">
        <div class="card">
          <img src="assets/experiencesimg/massage.png" class="card-img-top" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center">
            <h5 class="card-title ">Relajación</h5>

          </div>
        </div>
        <div class="card">
          <img src="assets/experiencesimg/cruise.png" class="card-img-top" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center">
            <h5 class="card-title">Cruceros</h5>

          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/experiencesimg/married.png" class="card-img-top" alt="...">
        <div class="card-body d-flex align-items-center justify-content-center">
          <h5 class="card-title ">Matrimonios</h5>

        </div>
      </div>
    </div>
    <div class="card">
      <img src="assets/experiencesimg/parachute.png" class="card-img-top img-fluid" alt="...">
      <div class="card-body d-flex align-items-center justify-content-center">
        <h5 class="card-title">Aventura</h5>

      </div>
    </div>
  </div>
</div>


