<div class="row col-lg-12 d-flex justify-content-center pb-5 pt-5 mt-5 bg-secondary">
  <div class="row d-flex justify-content-center mb-4">
    <div class="col-11">
      <h1 class="text-left font-weight-bold text-light ml-3">Experiencias</h1>
    </div>
    <div class="col-11">
      <p class="text-left col-lg-5 text-light">Vive con nosotros las mejores experiencias en tus viajes conciertos,
        naturaleza, playas, paisajes, deportes extremos, no importa la experiencia con FalconTravel todo es posible.</p>
    </div>
  </div>
  <div class="card-group col-lg-10 col-sm-12 col-xs-12 text-left bg-secondary">
    <div class="card">
      <img src="assets/experiencesimg/party.png" class="card-img-top h-100" alt="...">
      <div class="card-body d-flex align-items-center justify-content-center">
        <h5 class="card-title font-weight-bold">Conciertos</h5>

      </div>
    </div>

    <div class="card">
      <div class="card-group">
        <div class="card">
          <img src="assets/experiencesimg/massage.png" class="card-img-top h-100" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center">
            <h5 class="card-title font-weight-bold">Relajación</h5>

          </div>
        </div>
        <div class="card">
          <img src="assets/experiencesimg/cruise.png" class="card-img-top h-100" alt="...">
          <div class="card-body d-flex align-items-center justify-content-center">
            <h5 class="card-title font-weight-bold">Cruceros</h5>

          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/experiencesimg/married.png" class="card-img-top h-100" alt="...">
        <div class="card-body d-flex align-items-center justify-content-center">
          <h5 class="card-title font-weight-bold">Matrimonios</h5>

        </div>
      </div>
    </div>
    <div class="card">
      <img src="assets/experiencesimg/parachute.png" class="card-img-top h-100" alt="...">
      <div class="card-body d-flex align-items-center justify-content-center">
        <h5 class="card-title font-weight-bold">Aventura</h5>

      </div>
    </div>
  </div>
</div>
