<div class="card text-white">
    <img src="assets/pics/cottages-in-the-middle-of-beach-753626.jpg" class="card-img" alt="...">

    <div class="card-img-overlay">
        <div class="form-inline border border-dark bg-light p-3 ">

            <div class="form-group mb-2 font-weight-bold mr-3">
                <label for="" class="mr-1">Origen:</label>
                <input type="text">
            </div>
            <div class="form-group mb-2 font-weight-bold mr-3">
                <label for="" class="mr-1">Destino:</label>
                <input type="text">
            </div>
            <div class="form-group mb-2 font-weight-bold mr-3">
                <label for="" class="mr-1">Fecha de salida:</label>
                <input type="date">
            </div>
            <div class="form-group mb-2 font-weight-bold">
                <label for="" class="mr-1">Fecha de Regreso:</label>
                <input type="date">
            </div>
            <button class="btn btn-warning mb-2 ml-5 font-weight-bold">Buscar</button>

        </div>
        <h5 class="card-title font-weight-bold text-warning">Viajemos juntos!</h5>
        <p class="card-text font-weight-bold">Con nosotros viaja tranquilo, viaja siendo tú.</p>
    </div>
</div>