.card-title{
    text-align: center;
    /* color: white; */
    font-size: x-large;    
}
.card-body{
    
    height: 10px;
    
}
.card{
    padding: 10px;
    border: 0px;
}
h2{
    margin-top: 20px;
}
