.card-container{
    display: flex;
    flex-wrap: wrap;
}
.destinationCard{
    box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.2);
    width: 500px;
    height: 730px;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.25s;
    position: relative;
}
.destinationCard:hover{
    transform: translateY(-15px);
    box-shadow: 0px 12px 16px rgba(0,0,0,0.2);
}
.destinationCard:hover .img-dest img{
    opacity: 0.6;
}
.destinationCard hr{
    margin: 10px 10px;
}
.card-text{
    padding: 20px 20px 10px;
}
.destinationPrice{
    background-color: #ef2e5c;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto 20px;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 25px;
}
.cont-return{
    text-align: center;
    padding: 10px;
}
.cont-return a{
    text-decoration: none;
    border: none;
    background-color: #ef2e5c;
    color: #343a40;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.cont-return a:hover{
    text-decoration: none;
    border: none;
    background-color: #ff7797;
}
.img-dest{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
}
.img-dest-title{
    position: absolute;
    z-index: 2;
    font-weight: bold;
    font-size: 50px;
    color: #343a40;
    width: 100%;
    display: none;
}
.destinationCard:hover .img-dest-title{
    display: block;
}
.img-dest img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.destinationCity{
    font-weight: bold;
}
.destinationDes{
    max-height: 170px;
    height: 170px;
    overflow: hidden;
}
.btn-return{
    margin: 30px 0 40px;
}
.btn-return a{
    text-decoration: none;
    color: white;
    background-color: #343a40;
    border-radius: 20px;
    padding: 10px 20px;
    width: 500px;
}
.btn-return a:hover{
    background-color: #676d74;
}
.noDestionations{
    margin: 40px 0;
}