<div class="main-menu-box">
   <div class="iconos">
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-youtube-square"></i>

   </div>
   <div class="logo">
        <img src="../../../assets/image/Logo-FalconTravel-color-icono.png" alt="">
   </div>
   <div class = "contactos">
        <button>Contacto</button>
        <button>Iniciar Sección</button>
        <img src="" alt="">
   </div>

</div>

