<div class="main-menu-box">
     <div class="iconos">
          <a class="icon-insta" href="http://" target="_blank" >
               <i class="fab fa-instagram-square"></i>
          </a>
          <a class="icon-face" href="http://" target="_blank" >
               <i class="fab fa-facebook-square"></i>
          </a>
          <a class="icon-you" href="http://" target="_blank" >
               <i class="fab fa-youtube-square"></i>
          </a>
          <a class="icon-twit" href="http://" target="_blank" >
               <i class="fab fa-twitter-square"></i>
          </a>
     </div>
     <div class="logo">
          <a href="#">
               <img src="assets/logoMenu.png" alt="">
          </a>
     </div>
     <div class="contactos">
          <a routerLink="/contactUs">Contactenos</a> 
          <a routerLink="/login">Iniciar Sesión</a>
          <img src="" alt="">
     </div>
</div>

