.main-menu-box
{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.iconos,.contactos,.logo{
    display: flex;
    align-items: center;
}
.iconos i{
    font-size: 35px;
    margin: 0 5px;
}   
.icon-insta{
    color: violet;
}
.icon-face{
    color: #3b5998;
}
.icon-twit{
    color: #00acee;
}
.icon-you{
    color: #ff0000;
}
.logo img{
    max-width: 80px;
}
.contactos a{
    background-color: transparent;
    border: none;
    margin-right: 20px;
}
.contactos a:hover{
    background-color: transparent;
    border: none;
    color: violet;
}
